@media (max-width: 600px) {
  .atalhos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 10px;
    margin: 20px auto;
  }

  button {
    margin: 5px;
    padding: 7px;
    width: 90%;
  }

  #drop {
    margin: auto;
    border: none;
    color: black;
    background-color: rgba(211, 211, 211, 0.295);
    width: 100%;
  }

  #procurar {
    
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown {
    margin: auto;
    width: 100%;
  }

 #botoes {
  display: flex;
  margin-top: 5px;
  width: 100%;
 }

 

}

@media (min-width: 600px) and (max-width: 1000px) {

}
